.productsListContainer {
    max-width: 1320px;
    margin-inline: auto;
    padding: 20px 10px;
}

.title {
    margin-bottom: 50px;
}

.cardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.cardBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardTitle {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.cardDescription {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
}

.cardButton {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.spinnerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}