.productsListContainer {

}

.title {
    margin-bottom: 50px;
}

.cardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.cardBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardTitle {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.cardDescription {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
}

.cardButton {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.cardPriceFake {
    font-size: 1.2rem;
    align-self: flex-start;
    font-weight: 700;
    color: black;
    text-decoration: line-through;
}

.cardPrice {
    font-size: 2rem;
    align-self: flex-start;
    font-weight: 700;
    color: red;
}

.cardPriceAndRating {
    display: flex;
    gap: 10px;
    align-items: center;
}

.spinnerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.productCartItemContent {
    display: flex;
    align-items: center;
    width: 100%;
    padding-inline: 10px;
}

.productCartItemImage {
    height: 100%;
    width: 50px;
    object-fit: contain;
}

.productCartItemPrice {
    font-weight: 700;
    color: red;
    font-style: italic;
    font-size: 1.2rem;
}

.productCartItemTitle {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 600;
}

.productCartItemContentPlaceholder {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding-inline: 10px;
}

.productCartItemPriceFake {
    color: black;
    font-size: 0.8rem;
    text-decoration: line-through;
}