.card {
    max-width: 800px;
    margin-inline: auto;
}


.image {
    height: 400px;
    object-fit: contain;
}

.price {
    font-weight: 700;
    font-size: 2rem;
    color: red;
}

.priceContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
}

.priceFake {
    font-weight: 500;
    font-size: 1.2rem;
    color: black;
    text-decoration: line-through;
}

.priceAndRatingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.ratingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.ratingCount {
    font-weight: 500;
    font-size: 1.2rem;
}

.cardButton {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cardBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardSkeleton {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

}

@media (max-width: 500px) {
    .priceAndRatingContainer {
        flex-direction: column;
    }
}