.main {
    max-width: 1320px;
    margin-inline: auto;
    padding: 20px 10px;
    min-height: calc(100dvh - 56px);
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}